body{

    background-color: bisque;
    display: flex;
    align-items: center;
    min-height: 100vh;
    animation: bgfade 2s;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    align-items: center;
}